 h3{font-family:"Times New Roman",Times,serif;}
 body{background-image:url('/home/revanth/Desktop/Patnana Revanth/web imgIMG_20221104_222621.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;}
